.movies{
    box-sizing:border-box;
    padding: 70px 70px 160px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.movies_theme_dark{
    background-color: #202020;
}

.movies_theme_light{
    background-color: #FFFFFF;
}


.movies__error{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #EE3465;
    margin-top: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}

@media screen and (max-width: 850px) {
    .movies{
        padding: 70px 30px 160px;
    }
}

@media screen and (max-width: 450px) {
    .movies{
        padding: 70px 10px 160px;
    }
}