.profile{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 0;
    width: 410px;
    box-sizing: border-box;
    padding-top: 74px;
    flex: 1;
}

.profile__form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__title{
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
}

.profile__input-items{
    list-style: none;
    margin: 123px 0 220px;
    padding: 0;
}

.profile__input-item{
    border-bottom: 1px solid #424242;
}

.profile__input-item:last-of-type{
    border: none;
    padding-top: 16px;
}

.profile__input-container{
    box-sizing: border-box;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
}

.profile__label{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    white-space: nowrap;
}

.profile__input{
    width: 100%;
    font-weight: 400;
    color: #FFFFFF;
    outline: none;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 0 50px #202020;
    -webkit-text-fill-color: #FFFFFF;
    opacity: 1;
    border: none;
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.profile__error{
    width: 100%;
    display: block;
    text-align: end;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #EE3465;
    visibility: hidden;
}

.profile__error_visible{
    visibility: visible;
}

.profile__button-container{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 16px;
    gap: 16px;
}

.profile__submit-error{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FF004C;
    width: 100%;
    text-align: center;
}

.profile__submit-button{
    font-weight: 400;
    color: #FFFFFF;
    background-color:transparent;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 0;
}

.profile__submit-button:hover{
    opacity: .8;
}

.profile__submit-button[disabled] {
    color:#8B8B8B;
}

.profile__submit-button[disabled] {
    opacity: 1;
    cursor: default;
}


.profile__option-button{
    font-weight: 500;
    color: #EE3465;
    background-color:transparent;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 0;
}

.profile__option-button:hover{
    opacity: .8;
}

@media screen and (max-width: 850px) {
    .profile__input-items{
        margin: 96px 0 210px;       
    }
}

@media screen and (max-width: 450px) {
    .profile{
        width: calc(100% - 30px*2);
    }
    .profile__form{
        flex: 1;
    }
    .profile__input-items{
        margin: 80px 0 0;
        flex:1;       
    }

    .profile__button-container{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }
}