.form{
    width: 100%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form_type_register{
    max-width: 396px;
}

.form_type_profile{
    max-width: 410px;
}

.form__title{
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form__title_type_profile{
    text-align: center;
}

.form__input-container_type_register{
    height: 266px;
    margin: 40px 0 69px;
}

.form__input-container_type_profile{
    margin: 123px 0 229px;
}

.form__button-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__submit-button{
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 100%;
}

.form__submit-button_type_register{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color:#4285F4;
    height: 45px;
    border-radius:3px;
}

.form__submit-button_type_profile{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color:transparent;
}

.form__option{
    display: flex;
    gap: 6px;
    justify-content: center;
}

.form__question{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

.form__option-button{
    text-align: center;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.form__option-button_type_register{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
}

.form__option-button_type_profile{
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
}

@media screen and (max-width: 450px) {
    .form{
        max-width: calc(100% - 30px*2);
    }

    .form__input-container{
        flex: 1;
    }

    .form__button-container{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }
}
