.portfolio{
    box-sizing:border-box;
    padding: 0 70px 125px;
}

.portfolio__title{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #8B8B8B;
    margin: 0;
    margin-bottom: 50px;
}

.portfolio__items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio__item{
    border-bottom: solid 1px #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.portfolio__item:last-child{
    border: 0;
}

.portfolio__link-title{
    font-weight: 400;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: -0.04em;  
    color: inherit;
    margin: 0;
}

.portfolio__link{
    color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
}

.portfolio__link:hover{
    opacity: .7;
}

.portfolio__link-image{
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 50px;
    background-color:transparent;
    border: none;
}

.portfolio__link-image_theme_dark{
    background-image: url('../../images/portfolio-link.svg');
}

.portfolio__link-image_theme_light{
    background-image: url('../../images/portfolio-link-theme-dark.svg');
}

@media screen and (max-width: 850px) {
    .portfolio{
        padding: 0 50px 90px;
    }

    .portfolio__link-title{
        font-size: 28px;
        line-height: 1.78;
    }
}

@media screen and (max-width: 450px) {
    .portfolio{
        padding: 0 14px 70px;
    }

    .portfolio__title{
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 40px;
    }

    .portfolio__link-title{
        font-size: 18px;
        line-height: 1.55;
    }

    .portfolio__link-image{
        width: 18px;
        height: 28px;
    }
}