.app {
  max-width: 100%;
  min-width: 320px;
}

.app_theme_dark{
  background-color: #202020;;
  color: #FFFFFF;
}

.app_theme_light{
  background-color: #ffffff;
  color: #000000;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}