.account{
    display: flex;
    gap: 17px;
    align-items:center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
}

.account_active{
    font-weight: 500;
}

.account__link{
    margin: 0;
}

.account__logo{
    background-image: url('../../images/account.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 26px;
    border-radius: 4px;
}

.account__logo_theme_dark{
    background-color: #313131;
}

.account__logo_theme_light{
    background-color: #A0A0A0;
}