.account{
    display: flex;
    gap: 17px;
    align-items:center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.account_active{
    font-weight: 500;
}

.account__link{
    margin: 0;
}

.account__logo{
    background-image: url('../../images/account.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313131;
    height: 30px;
    width: 26px;
    border-radius: 4px;
}