.navigation{
    display: flex;
    gap: 16px;
}

.navigation__link{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    color: inherit;
    text-decoration: none;
}

.navigation__link_active{
    font-weight: 500;
}

.navigation__link_type_main{
    display: none;
}

.navigation__theme{
    display: none;
}

.navigation__theme-message{
    margin-left: 10px;
    color: inherit;
}

@media screen and (max-width: 850px) {
    .navigation{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }
    
    .navigation__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
    }

    .navigation__link_active_dark{
        padding-bottom: 8px;
        border-bottom: 2px solid #FFFFFF;
    }

    .navigation__link_active_light{
        padding-bottom: 8px;
        border-bottom: 2px solid #000;
    }


    .navigation__link_type_main{
        display: block;
    }

    .navigation__theme{
        display: flex;
        cursor: pointer;
    }
}

@media screen and (max-width: 850px){
    .navigation{
        gap: 24px;
    }  
}