.search-form{
    margin: 0 0 26px;
}

.search-form__container{
    box-sizing: border-box;
    border: 1.5px solid rgba(170, 170, 170, .2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.search-form__input{
    border: 0;
    box-sizing: border-box;
    padding-left:25px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 100%;
    flex: auto;
}

.search-form__input:focus {
    outline: none;
}

.search-form__input::placeholder {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.search-form__btn{
    background: #4285F4;
    width: 100px;
    height: 52px;
    border-radius:5px;
    border-color: #4285F4;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 10px 10px 10px 0;
    flex-shrink: 0;
    border: none;
}

@media screen and (max-width: 450px) {
    .search-form__btn{
        width: 80px;
        height: 44px;
        margin: 6px 6px 6px 0;
    }

    .search-form__input{
        font-size: 16px;
        line-height: 16px;
    }

    .search-form__input::placeholder {
        font-size: 16px;
        line-height: 16px;
    }
}



