.search-form{
    margin-top: 70px;
}

.search-form__container{
    /* width: 100%; */
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.search-form__input{
    border: 0;
    box-sizing: border-box;
    padding-left:25px;
    color: #FFFFFF;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    max-width: 100%;
    flex: auto;
}

.search-form__input:focus {
    outline: none;
}

.search-form__input::placeholder {
    color: #8B8B8B;
}

.search-form__btn{
    background: #4285F4;
    width: 100px;
    height: 52px;
    border-radius:5px;
    border-color: #4285F4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 10px;
    flex-shrink: 0;
}



