.saved-movies{
    box-sizing:border-box;
    padding: 70px 70px 160px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.saved-movies_theme_dark{
    background-color: #202020;
}

.saved-movies_theme_light{
    background-color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    .saved-movies{
        padding: 70px 30px 160px;
    }
}

@media screen and (max-width: 450px) {
    .saved-movies{
        padding: 70px 10px 160px;
    }
}