.nav-tab{
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-tab_theme_dark{
    background-color: #272727;
}

.nav-tab_theme_light{
    background-color: #F5F5F5;
}


.nav-tab__link{
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    text-decoration: underline;
    color: inherit;
}

.nav-tab__link:hover{
    opacity: .7;
}

@media screen and (max-width: 450px) {
    .nav-tab{
        gap: 24px;
    }
    .nav-tab__link{
        font-size: 11px;
        line-height: 1.45;
    }
}