.nav-tab{
    background-color: #272727;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    color: #FFFFFF;
    margin-right: 40px;
}

.nav-tab__link:last-child{
    margin-left: 0;
}